.grayscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.high-contast {
    filter: contrast(150%);
}

.inverted {
    filter: invert(100%);
}

.very-bright {
    filter: brightness(150%);
}

.low-light {
    filter: brightness(50%);
}

.default {
    
}