.viewer {
    width: 100%;
    height: 100%;
    position: relative;
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
}

.invisible {
    display: none;
}

#info {
    font-size: 2em;
    color: white;
    position: fixed;
    bottom: 0;
}

#command {
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 2em;
}

#line {
    position: fixed;
    width: 100%;
    height: 0.5em;
    background-color: black;
    bottom: 50%;
}

#gui {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
}

#gui button {
    text-decoration: none;
    background: transparent;
    border: none;
}

#gui button img {
    max-width: 60%;
}

body {
    font-family: sans-serif;
    background-color: black;
}